{% extends 'medical_profile_temp.html' %}

{% block m1 %}
<link href="../static/css/medical_profile.css" type="text/css" rel="stylesheet"/>

<h1>My Profile</h1>

{% if data %}
<div class="profile-container">
    <form method="post" action="medical_profile">
        <p>
            medical_name
            <input type="text" value="{{data[0]}}" name="T1" />
        </p>
        <p>
            owner_name
            <input type="text" value="{{data[1]}}" name="T2" />
        </p>
        <p>
            address
            <input type="text" value="{{data[2]}}" name="T3" />
        </p>
        <p>
            contact
            <input type="text" value="{{data[3]}}" name="T4" />
        </p>
        <p>
            licence_no
            <input type="text" value="{{data[4]}}" name="T5" />
        </p>
        <p>
            Email
            <input readonly type="text" value="{{data[5]}}" name="T6" />
        </p>
        <p>
            <button type="submit">Save Changes</button>
        </p>
    </form>

    <h2>
        <a href="medical_home">Home</a>
    </h2>
</div>

{% elif msg %}
<div class="profile-container">
    <h3>{{msg}}</h3>
    <h2>
        <a href="medical_home">Home</a>
    </h2>
</div>
{% endif %}

{% endblock %}
